
body{
    margin: 0;
    background-image: url(../img/background.jpg);
    width: auto;
    height: auto;  
}

#wrapper {
     margin: auto;
     width: 900px;
     height: auto;
     /* border:1px solid  #d59250; */
     background-color: #02040094;
}

#header{
    background: url(../img/header_i.jpg);
    width: 900px;
    height: 399px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
	height: 55px;
	/* border: 0.5px solid #d59250; */
	text-align: center;
	position: -webkit-sticky;
    z-index: 100;
}

.sticky {
    background:black;
    position: fixed;
    width: inherit;
    height: 55px;
    top:0;
}

.ghost-button {
    width: 100%;
    height: 55px;
    display: inline-block;
    color: aliceblue;
    border: 1px solid #8b0000;
    background-color: #0e0e0da3;
    border-radius: 3px;
    text-align: center;
    outline: none;
    text-decoration: none;
    text-shadow: 0 0 5px #8b0000;
    box-shadow: 0 0 7px #3C4A39;
    font-size: 30px;
}

.ghost-button:hover, .ghost-button:active {
 box-shadow:0 0 30px ;
 color: #8b0000;
   transition: 0.4s;
}

#Image {
    background: url(../img/news_icon.png);
    background-repeat: no-repeat;
    float: left;
    width: 299px;
    height: 858px;
    /* border: 1px solid #da8836; */
    }

#table-news{
    font-family: 'Kremlin';
    margin-top: 225px;
    color: aliceblue;
    text-align: center;
    /* border: 0.5px solid #da8836; */
    text-shadow: 0px 3px 3px #8b0000;
    font-size: 26px;
    background-color: #0000008a;
}

#block-news{
    font-size: 20px;
	color: white;
	
}

.text{

	font-size: 18px;
}
.gif{
	
}

.style{
	    margin-top: 20px;
}

.l{
    width: 300px;
    height: 650px;
    border: 0.5px solid #d59250;
    float: left;
    margin-top: 225px;
}

 #content {
    width: 596px;
    height: 876px;
    float: right;
    border: 1px solid #0000008a;
    background-color: #0000008a;
}

.image{
	float:right;
	width:297px;
	height:250px;
	border: 1px solid #000000;
	background: url(../img/news.png);
	margin-left: 10px;
	margin-bottom: 10px;
}

p{ 
    color: white;
    font-size: 18px;   
	margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
   
}

img{
    width: 298px;
    height: 300px;
}

h1{

    font-family: 'Kremlin';
	color: white;
    padding-left: 50px;
}

.center{
	text-align: center;
}

#footer{
    font-family: 'Kremlin';
    margin-left: auto;
	font-size: 30px;
	color: white;
}

#newa{
    margin-left: 10px;
    text-align: center;
    
}

a{
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: orange;
}
.margin-left{
    font-size: 20px;
    color: red;
}
.f-news{
    float: left;
    background: url(../img/1-news.png);
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 5px;
    border-radius: 50%;
}
.k-news{
    float: left;
    background: url(../img/Kordon.png);
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 5px;
    border-radius: 50%;
}
.g-news{
    float: left;
    background: url(../img/greshtin.jpg);
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 5px;
    border-radius: 50%;
    
}
.e-news{
    float: left;
    background: url(../img/EntrySeal1.png);
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 5px;
    border-radius: 50%;
}
hr{
    margin-bottom: 5px;
    margin-top: 5px;
}
#bottom{
    text-align: center;
    color: aliceblue;
    font-size: 12px;
    padding: 10px;
}
