
body{
    background-image: url(../img/background.jpg);
}
img{
    width: 100%;
    height: 20%;
}
a{
    color: white;
}

#content{
    overflow: hidden;
    margin: 0 auto;
    background-color: black;
    width: 760px;
    padding: 25px;
    overflow: hidden;
    overflow-x: hidden;
    max-height: 702px;
}
#blocks{
    position: relative;
    max-height: 750px;
}
#block{
    width: 810px;
    height: 70px;
    background-color: black;
    text-align: center;
    position: absolute;
    top:85.55vh;

}
#left,#right{
    width: 60px;
    height: 480px;
    background-color: black;
    position: absolute;
}
#right{
    top:25.55vh;
    right:0vh;
}
#left{
    top: 25.55vh;
    left: 0vh;
}
@media screen and (min-height: 910px){
    #block{
    width: 810px;
    height: 70px;
    background-color: black;
    text-align: center;
    position: absolute;
    top:73vh;

}
}
